<div *ngIf="actor" class="card w-75 mt-5 mr-auto">
    <div class="card-header text-primary">
        {{actor.name | uppercase}} Details
    </div>  
  <div class="form-group row p-3">
    <label class="col-sm-2 col-form-label">name:</label>
    <div class="col-sm-5">
      <input class="form-control" [(ngModel)]="actor.name" placeholder="name">
    </div>
  </div>
</div>
<div class="mt-4">
    <button class="btn btn-outline-warning" (click)="goBack()">go back</button>
    <button class="btn btn-outline-primary ml-4" (click)="save()">save</button>
</div>